<h1>All users</h1>

<table class="table table-striped">
    <tr>
      <th>Имя пользователя</th>
      <th>User ID</th>
      <th>UУдалить пользователя</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <th>
        <%= link_to user.name, user %>
      </th>
      <th>
        <%= user.id %>
      </th>
      <th>
        <%= link_to "Удалить", user_path(user), method: :delete, data: { confirm: 'Вы уверены?' } %>
      </th>
    </tr>
  <% end %>
</table>