<p style="font-size: 22px;">
    <h3>
    	<span class="label label-default">NEW</span>
    	Первый в мире удобный менеджер флеш-карточек. Именно так.
    	<span class="label label-default">NEW</span>
    </h3>
</p>