<p>
  <strong><%= t("views.decks.name") %></strong>
  <%= @deck.title %><br />
  <%= link_to t("views.decks.default"), set_current_dashboard_deck_path, method: :put %>
</p><br>
<p>
  <%= link_to t("views.decks.back"), dashboard_decks_path %>
</p>